html, body {
    height: 96.8%;
    width: 99%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    user-select: none; /* Makes it so you can't accidentlly highlight the text */
}

.center {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.title {
    font-size: 70px;
}

.counter {
    padding-left: 10px;
    padding-left: 10px;
    font-size: 45px;
}

.contrast-text {
    color: #ffffff;
    mix-blend-mode:  difference;
}

.clickable-layer {
    height: 100%;
    width: 100%;
}