body {
    max-width: 800px;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.emphasize {
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
}

.highlight {
    background-color: #ffff00;
    color: #ff0000;
}

.heading-box {
    border: 3px solid #000000;
    background-color: #096691;
    color: #ffffff;
    font-weight: bold;
}