html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    place-items: center;
    background-color: #0E4174;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

hr {
    border: none;
    height: 2px;
    background-color: #000000;
}