html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: grid;
    place-items: center;
}

.emphasize  {
    font-weight: bold;
}